.contacts {
  padding: 30px 40px;
  background-color: #ffffff;
}

.contacts__lead {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.contacts__item-way {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  color: #283645;
}

.contacts__item-link {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  color: #d22856;
}
