.download-app {
  padding: 25px 20px;
  background-color: #1e2631;
}

.download-app__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.download-app__about {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
