.main__lead {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
  background-color: #ffffff;
}

.main__tariffs {
  margin-top: 30px;
}

.main__contacts {
  margin-bottom: 30px;
}
