.page {
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page__header {
  width: 320px;
  margin: 0 auto;
}

.page__main {
  width: 320px;
  margin: 0 auto;
}

.page__footer {
  width: 320px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .page__header {
    width: 660px;
  }

  .page__main {
    width: 660px;
  }

  .page__footer {
    width: 620px;
    padding: 36px 21px 35px;
  }
}

@media (min-width: $desktop-width) {
  .page__header {
    width: auto;
    max-width: 2560px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-size: 2560px 853px;
    }

    &--homepage {
      min-height: 854px;
      background-position: calc(50% + 71px) 209px, 50% 0;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-size: 1050px 645px, 2560px 853px;
      }
    }
  }

  .page__main {
    width: auto;
    max-width: 2560px;
  }

  .page__footer {
    width: 940px;
    margin: 0 auto;
    padding: 70px 0;
  }
}
